html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
.font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 32px auto;
    width: 800px;
    text-align: center;
    background-color: tan;
    padding: 20px;
}

button {
    /* Default button styles */
    background-color: #3498db; /* Default background color */
    color: #fff; /* Default text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none; /* Remove default button border */
    cursor: pointer; /* Add pointer cursor on hover */
    transition: background-color 0.3s ease; /* Add smooth transition for color change */
    margin: 12px auto;
    width: 300px;
    text-align: center;
    font-size: 24px;
    display: block;
    
  }
  
  button:hover {
    /* Button styles on hover */
    background-color: #2980b9; /* New background color on hover */
  }
    
